
body {
    background-color: #efefef;
    font-family: Arial;
    color: #333;
    /* line-height: 1.4em; */
}

header {
    background-color: gray;
    width: 75%;
    height: 30%;
    line-height: 300%;
    margin: 0 auto 0;
}

.contInicial {
    background-color: gray;
    width: 75%;
    height: 10%;
}

main {
    width: 900px;
    margin: 0 auto 0;
    background-color:#FFF;
    padding:20px;
}

.contFinak {
    background-color: gray;
    width: 75%;
    height: 10%;
}

footer {
    background-color: gray;
    width: 75%;
    height: 10%;
    margin: 0 auto 0;
}

/* h1 {
    text-align: center;
    color: red;
} */
